{% extends "base.html" %}

{% block title %}Add new movie{% endblock %}

{% block header %}
<h1>Add new movie</h1>
{% endblock %}
    
{% block content %}
{% if error %}
    <article>{{ error }}</article>
{% endif %}
<form action="" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required><br><br>

    <label for="cat_death">Cat Death:</label>
    <input type="checkbox" id="cat_death" name="cat_death"><br><br>

    <label for="violence">Violence:</label>
    <input type="checkbox" id="violence" name="violence"><br><br>

    <label for="loud_noises">Loud Noises:</label>
    <input type="checkbox" id="loud_noises" name="loud_noises"><br><br>

    <label for="jump_scares">Jump Scares:</label>
    <input type="checkbox" id="jump_scares" name="jump_scares"><br><br>

    <input type="submit" value="Add Movie">
</form>
{% endblock %}