{% extends "base.html" %}
{% block title %}New movie - Does the Cat Die?{% endblock %}

{% block content %}
<h1>Add Movie</h1>
<form action="" method="post">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <h2>Wystąpił błąd:</h2>
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required><br><br>

    <label for="cat_death">Cat Death:</label>
    <input type="checkbox" id="cat_death" name="cat_death"><br><br>

    <label for="violence">Violence:</label>
    <input type="checkbox" id="violence" name="violence"><br><br>

    <label for="loud_noises">Loud Noises:</label>
    <input type="checkbox" id="loud_noises" name="loud_noises"><br><br>

    <label for="jump_scares">Jump Scares:</label>
    <input type="checkbox" id="jump_scares" name="jump_scares"><br><br>

    <label for="director">Director:</label>
    <select id="director" name="director" required>
        {% for director_id, director in directors.items() %}
            <option value="{{ director_id }}">{{ director.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Add Movie">
</form>
{% endblock %}