<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Does the Cat Die?{% endblock %}</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <main>
        <nav>
            <ul>
                <li><a href="{{url_for('home')}}">Does the Cat Die?</a></li>
            </ul>
            <ul>
                {% if g.user %}
                <li><a href="{{url_for('add_movie')}}">Add movie</a></li>
                <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
                {% else %}
                <li><a href="{{url_for('auth.login_page')}}">Login</a></li>
                <li><a href="{{url_for('auth.register_page')}}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Does the Cat Die?</p>
    </footer>
</body>
</html>